body {
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Arizon;
  src: url(./components/fonts/ARIZON.otf);
}

.arizon {
  font-family: "Arizon";
}
